@import url(./assets/css/pop.up.css);
@import url(./assets/css/sale.desc.css);


*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

ul{
    list-style: none; 
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quattrocento', serif;
    font-weight: 700;
}

p,span,b,label{
    font-family: 'Quattrocento Sans', sans-serif;
}

.btn{
    padding: .0rem .2rem;
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid;
}

.cta{
    color: white;
    border: .1rem solid;
    padding: .5rem 1rem;
    cursor: pointer;
}

.btn:active{
    color: lightpink;
    outline: .1rem solid lightpink;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.325);
}

.d-none{
    display: none;
    overflow: hidden;
    height: 0;
    width: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    padding: 1rem;
    gap: 1rem 0;
    align-items: center;
}

.nabvar__items{
    position: fixed;
    inset: 0;
    width: 70%;
    height: 100%;
    background-color: #202020cc;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    transform: translate(-100%);
    transition: transform 1s;
}

ul.showMenuTransform{
    transform: translate(0);
}

.nav__links{
    color: white;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
}

.navbar__logo{
    width: min-content;
    grid-column: 1/3;
    font-weight: bold;
}

.navbar__logo p{
    color: white;
    font-size: 1.3rem;
}

.navbar__form{
    grid-column: 1/6;
}

.navbar__group{
    width: min-content;
    display: flex;
    align-items: center;
    border-bottom: .1rem solid lightgray;
}

input.intp-search{
    padding: .0rem;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.intp-label{
    color: lightgray;
}

.intp-search:focus + .intp-label{
    color: #202020;
}

.navbar__menu{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
}

.btn--menu{
    border: none;
    padding: 8px 11px;
    border-radius: 50%;
    position: relative;
    z-index: 4;
    color: black;
}

.navbar__menu i{
    cursor: pointer;
    font-size: 1.5rem;
}

.btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    grid-column: 4/6;
    grid-row: 1/2;
}

a.cta--login{
    padding: .5rem 2rem;
    border-radius: 5rem;
    background-color: lightgray;
    color: white;
    text-transform: uppercase;
    letter-spacing: .030rem;
    text-align: center;
}

.user{
    border: .1rem solid ;
    padding: .1rem .3rem;
    border-radius: 50%;
}

.hero{
    display: grid;
}

.hero_sildebar{
    position: absolute;
    inset: 0;
    z-index: 2;
    grid-column: 2/5;
    grid-row: 1/8;
}

.container__gridHero{
    display: grid;
    grid-template-columns: 1fr;
}

.hero-front{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    height: 100%;
    min-height: 90vh;
    opacity: 0;
}

.hero-front--show{
    opacity: 1;
    transition: opacity .5s;

}

.container__imgHero{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
    clip-path: circle(80.4% at 38% 0);
}

.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    /* background:linear-gradient(180deg, rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.600)); */
    color: white;
    height: 90vh;
    width: 100%;
    text-align: center;
    gap: 1.6rem;
    padding: 0rem 1rem;
}

.hero__title{
    font-size: 2.9rem;
}

.hero-front--show{
    animation: showHero .5s;
}

.container__gridHero{
    position: relative;
    overflow: hidden;
}

.panel__controlHero{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0%; 
    width: 100%;
    pointer-events: none;
    z-index: 3;
    height: 100%;
}

.panel__controlHero-next{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s, opacity .5s;
    transform: translate(200%);
    background:linear-gradient(rgba(0, 0, 0, 0.369), rgba(0, 0, 0, 0.542));
    padding: 2rem 1rem;
    cursor: pointer;
    pointer-events: initial;
    position: relative;
    opacity: .5;
    color: white;
}

.panel__controlHero-before{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s, opacity .5s;
    background:linear-gradient(rgba(0, 0, 0, 0.369), rgba(0, 0, 0, 0.542));
    transform: translate(-200%);
    padding: 2rem 1rem;
    cursor: pointer;
    pointer-events: initial;
    position: relative;
    opacity: .5;
    color: white;
}

.panel__controlHero-before:hover, 
.panel__controlHero-next:hover{
    opacity: 1;
}

.container__gridHero:hover .panel__controlHero-before, 
.container__gridHero:hover .panel__controlHero-next{
    transform: translate(0);
}

.subNavbar__items{
    padding: .5rem;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(7, min-content);
    justify-content: space-between;
    gap: 3px;
}

.subNavbar__item{
    border: .1rem solid lightgray;
    border-radius: 50%;
    width: 105px;
    padding: 1.6rem 0;
    transition: box-shadow .5s, background-color .4s;
    display: flex;
    gap: .5rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.subNavbar__item i{
    transition: transform .5s;
    font-size: 1.1rem;
    color: lightgray;
}

.subNavbar__item p{
    transition: transform .5s;
    color: lightgray;
}

.subNavbar__item:hover{
    background-color: rgba(211, 211, 211, 0.421);
}

.subNavbar__item:hover p, .subNavbar__item:hover i{
    transform: scale(1.2);
}

.subNavbar__dropdwn{
    transition: height .5s ease;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 0%;
    background-color: rgba(211, 211, 211, 0.632);
    z-index: 3;
    overflow-y: hidden;
}

.growInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    padding: 50px 0;
}

.growInfo__card:nth-child(3){
    transform: scale(110%);
    box-shadow: 0 0 60px -30px rgba(0, 0, 0, 0.200);
}


.growInfo__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    width: 90%;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 60px -30px rgba(0, 0, 0, 0.120);
    transition: transform .5s ease-in-out;
}

.growInfo__card:hover .growInfo__img{
    opacity: 1;
}

.growInfo__card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 60px -30px rgba(0, 0, 0, 0.200);
}

.growInfo__card::before{
    content: '';
    background-color: lightgray;
    height: 90px;
    width: 20px;
    top: -25px;
    right: 10px;
    transform: rotate(-45deg);
    position: absolute;
    z-index: 3;
}

.growInfo__card:nth-child(1)::before{
    background-color: brown;
}

.growInfo__card:nth-child(2)::before{
    background-color: gold;    
}

.growInfo__card:nth-child(3)::before{
    background-color: silver;    
}

.growInfo__content{
    width: 100%;
    height: 200px;
    position: relative;
}

.growInfo__img{
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s;
}

.growInfo__content i{
    background:linear-gradient(320deg, rgba(211, 211, 211, 0.202), rgba(255, 255, 255, 0.320));
    color: lightgray;
    position: absolute;
    inset: 0;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 2rem;
    height: 100%;
    z-index: 2;
}

.growInfo__title{
    color: lightgrey;
    text-align: center;
    padding: 2rem;
}

.growInfo__paragraph{
    color: rgba(0, 0, 0, 0.523);
    line-height: 1.6;
}

.products{
    padding: 5rem 2rem;
    padding-top: 0rem;
}
.card__price{text-align: center;}
.title__products{
    margin: 50px 0;
    margin-bottom: 50px;
}

.title__products--growInfo{
    flex-basis: 100%;
    margin: 10px 0;
    padding-left: 1rem;
}

.title__products--id{
    margin-top: 50px;
}

.wrapper__products{
    padding: 0 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
    justify-items: center;
    border-left: none;
    border-right: none;
}

.card__price--old{
    display: flex;
    justify-content: center;
    gap: .3rem;
}

.oldPrice{
    transform: scale(.8);
    transform-origin: left;
    text-decoration: line-through;
}

.card__products{
    overflow: hidden;
    position: relative;
    width: 14rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.325);
    border-radius: .5rem;
    transition: box-shadow .3s;
}
.card__products:hover{box-shadow: 0 0 25px 3px rgba(0, 0, 0, .1);}
.paginacion__product{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.paginacion__product ul{
    display: flex;
    gap: 1rem;
}

.card__title{
    color: black;
    text-align: center;
}

.card__img{
    width: 100%;
    object-fit: contain;
}

.card__paragraph{
    color: black;
    display: none;
    text-align: justify;
    padding: 1rem 0;
    font-size: .9rem;
}

.btn--product{
    padding: .5rem 0;
    margin-top: .5rem;
    font-size: inherit;
    cursor: pointer;
}

.card__header{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.116), rgba(0, 0, 0, 0.2));
    padding: .5rem;
    transform: translatey(-130%);
    transition: transform .6s;
}

.card__products:hover .card__header{
    transform: translate(0);
}

.cta__card{
    width: fit-content;
    border-radius: 50%;
    padding: .1rem .4rem;
    line-height: 1.7;
    transform: scale(.9);
}

.cta--cardBTN i{
    color: lightgrey;
}

.card__products:hover .cta--cardBTN{
    height: max-content;
    transform: translate(0);
}

.newslleter{
    background: #202020;
    height: 50vh;
    color: white;
}

.form__newslleter{
    width: 95%;
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.group__inps{
    width: 100%;
    height: 50px;
    position: relative;
    border-top-right-radius: .3rem;
    border-bottom-right-radius:  .3rem;
    display: flex;
    align-items: center;
}

.email--inpt{
    border-top-left-radius: .3rem;
    border-bottom-left-radius:  .3rem;
    width: 100%;
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    padding: 1.1rem .5rem;
}

.email--label{
    position: absolute;
    left: 0;
    line-height: 3.1;
    padding-left: .7rem;
    color: #202020;
    transition: transform .6s ease;
}

.email--inpt:not(:placeholder-shown) + .email--label,
.email--inpt:focus + .email--label{
    line-height: 1.4;
    transform: translatey(-200%) scale(.9);
    transform-origin: left;
    color: white;
}

.btn--newsllater{
    border-top-right-radius: .3rem;
    border-bottom-right-radius:  .3rem;
    padding: 1.1rem 1rem; 
    background-color: transparent;
    color: white;
    border: .1rem solid white;
    overflow: hidden;
}


.btn--newsllater:hover{
    background-color: #202020;
    color: white;
    cursor: pointer;
}

.btn--newsllater i{
    transform: rotate(10deg);
    transition: transform .3s ease;
}

.btn--newsllater i:hover{
    transform: rotate(-10deg);
}




footer{
    background-color: #202020;
    color: lightgrey;
}

.enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
}

.btn__contact i{
    font-size: 1.3rem;
    color: white;
}

.positionDiv{
    width: 100%;
    height: 1px;
    background-color: #202020;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -2;
    opacity: 0;
}

@media (min-width:680px) {
    .growInfo__card{
        max-width: 32rem;
    }
}

@media (min-width:1024px) {
    .navbar{
        position: fixed;
        left: 0; right: 0;
        top: 0;
        width: 100%;
        z-index: 4;
        background-color: transparent;
        transition: background-color .5s ease-in-out;
    }

    .navbar--show{
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.523);
        background-color: black;
    }

    .navbar__menu{
        display: none;
    }

    .nabvar__items{
        position: initial;
        inset: none;
        width: 100%;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
        padding-left: 0;
        transform: translate(0);
    }

    .nav__links{
        color: white;
        font-size: 1rem;
        position: relative;
        z-index: 2;
    }

    .navbar__logo{
        grid-column: 1/2;
    }

    .navbar__form{
        grid-column: 3/4;
    }

    .intp-search{
        width: max-content;
        padding: .0rem .0rem;
        font-family: inherit;
        font-size: inherit;
        border: none;
        border-bottom: .1rem solid;
        outline: none;
        background-color: transparent;
        color: white;
    }

    .btns{
        grid-column: 5/6;

    }

    .wrapper__products{
        padding: 1rem 0;
        padding-left: .3rem;
        overflow: initial;
    }

    .card__paragraph{
        display: initial;
        text-align: center;
        padding: .5rem;
    }

    .subNavbar__items{
        overflow-x: initial;
    }

    .growInfo{
        justify-content: space-around;
    }

    .growInfo__card{
        max-width: 17.5rem;
        padding: 0;
        border-radius: .5rem;
    }

    .growInfo__paragraph{
        word-spacing: .4rem;
        text-align: center;
    }

    .paginacion__product{
        display: flex;
    }
}